body {
    background-color: lightpink;
}

button {
    height: 200px;
    width: 200px;
    text-size: 50px;
    margin: 20px;
    border-radius: 50%;
}

.title {
    text-align: center;
}

i {
    font-size:48px;
    color:blue
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }